body {
  background-color: rgb(242, 239, 242);
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 3em;
  flex-direction: column;
}

main {
  background-color: rgb(255 255 255);
  padding: 2em;
  border-radius: 1em;
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

main header h1 {
  margin-top: 0;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-weight: 500;
}

form label input,
select {
  padding: 0.5em;
  border-radius: 0.5em;
  letter-spacing: 0.1em;
}

form select {
  cursor: pointer;
}

form select option {
  /* not working */
  letter-spacing: 0.1em;
}

form .btn-container {
  text-align: center;
}

form button {
  margin-top: 0.4em;
  background-color: rgb(75 142 245);
  padding: 1em;
  border-radius: 1em;
  border: none;
  /* flex-shrink: 0; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 8em;
  cursor: pointer;
}

form div#result {
  display: none;
  margin-top: 0.4em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  background: linear-gradient(
    122deg,
    rgb(84, 206, 43) 0%,
    rgb(84, 225, 38) 38%,
    hsla(105, 100%, 39%, 1) 61%
  );
  color: rgb(228, 251, 229);
  border-radius: 1em;
  padding: 0.4em 0;
}

footer a {
  color: rgb(109, 108, 108);
  font-size: 0.8em;
}
footer a:visited {
  color: rgba(158, 120, 49, 0.877);
}
